.icon-section-row {
  display: flex;
  padding: 50px 100px;
}
.icon-section-col {
  width: 33.33%;
  text-align: center;
}
.icon-section-col a{
  text-decoration: none;
}
.icon-section-col p{
  padding: 0px 25px;
}
.img-logo{
  width: 60%;
  height: auto;
}
.snize-ac-results .snize-label {
  color: var(--text-darken) !important;
  font-weight: bold !important;
}
.product-grid-item__title {
  color: var(--text-darken) !important;
  font-weight: bold !important;
}
div.snize .snize-filters-sidebar div.snize-product-filters-title {
  font-weight: bold;
}
#snize_results.snize-mobile-design.snize-new-version div.snize-main-panel-mobile-filters>a {
  font-weight: bold;
}
.custom-scrollbar__thumb:before {
  background: var(--text-darken);
}
.tab__link.current {
  color: var(--text-darken);
}
.nav-search__input {
  border-radius: 4px 0 0 4px;
}
.nav-search__submit {
  border-radius: 0 4px 4px 0;
}
.icons-heading{
  font-size: 1.3rem;
  font-weight: 700;
}
#snize-search-results-grid-mode li.snize-product span.snize-title {
  font-size: calc(1rem * var(--adjust-body)) !important;
}
#snize-search-results-list-mode li.snize-product span.snize-title {
  font-size: calc(1rem * var(--adjust-body)) !important;
}
#snize-search-results-grid-mode span.snize-description {
  font-size: calc(.9rem * var(--adjust-body)) !important;
}
#snize-search-results-list-mode span.snize-description {
  font-size: calc(.9rem * var(--adjust-body)) !important;
}
#snize-search-results-grid-mode li.snize-product .snize-button {
  width: 100% !important;
  padding: 5px 0px !important;
}
#snize-search-results-list-mode li.snize-product .snize-button {
  border-radius: 4px;
}
.snize-search-results#snize_results a {
  border-radius: 4px;
}
.snize-search-results#snize_results a {
  border-radius: 4px;
}
.snize-search-results#snize_results a {
  border-radius: 4px;
}
.snize-main-panel-controls a {
  border-radius: 0 !important;
}
#snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode li.snize-product .snize-button {
  border-radius: 4px !important;
}
#snize_results.snize-mobile-design.snize-new-version #snize-search-results-list-mode li.snize-product .snize-button {
  border-radius: 4px !important;
}
.logo .logo__text-link {
  line-height: 0;
  padding: 7px 0px;
}

@media only screen and (max-width: 767px) {
  .icon-section-col h3 {
    font-size: 20px;
  }

  .img-logo{
    width: 65%;
  }

  /* .icon-section-col {
    text-align: left;
  } */

  .icon-section-col img {
    width: 40px;
  }

  .icon-section-col p {
    padding: 0;
    font-size: 13px;
    font-weight: 500;
  }

  .icons-heading {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1023px) {
  .icon-section-row {
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .snize-thumbnail img {
    height: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .snize-thumbnail img {
    height: 250px;
  }
}
