.icon-section-row {
  display: flex;
  padding: 50px 100px;
}
.icon-section-col {
  width: 33.33%;
  text-align: center;
}
.icon-section-col a{
  text-decoration: none;
}
.icon-section-col p{
  padding: 0px 25px;
}
.img-logo{
  width: 60%;
  height: auto;
}
.snize-ac-results .snize-label {
  color: var(--text-darken) !important;
  font-weight: bold !important;
}
.snize-ac-results .snize-description {
  color: #475569 !important;
}
.product-grid-item__title {
  color: var(--text-darken) !important;
  font-weight: bold !important;
}
div.snize .snize-filters-sidebar div.snize-product-filters-title {
  font-weight: bold;
}
#snize_results.snize-mobile-design.snize-new-version div.snize-main-panel-mobile-filters>a {
  font-weight: bold;
}
.custom-scrollbar__thumb:before {
  background: var(--text-darken);
}
.tab__link.current {
  color: var(--text-darken);
}
.nav-search__input {
  border-radius: 4px 0 0 4px;
}
.nav-search__submit {
  border-radius: 0 4px 4px 0;
}
.icons-heading{
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}
#snize-search-results-grid-mode li.snize-product span.snize-title {
  font-size: calc(1rem * var(--adjust-body)) !important;
}
#snize-search-results-list-mode li.snize-product span.snize-title {
  font-size: calc(1rem * var(--adjust-body)) !important;
}
#snize-search-results-grid-mode span.snize-description {
  font-size: calc(.9rem * var(--adjust-body)) !important;
}
#snize-search-results-list-mode span.snize-description {
  font-size: calc(.9rem * var(--adjust-body)) !important;
}
#snize-search-results-grid-mode li.snize-product .snize-button {
  width: 100% !important;
  padding: 5px 0px !important;
}
#snize-search-results-list-mode li.snize-product .snize-button {
  border-radius: 4px;
}
.snize-search-results#snize_results a {
  border-radius: 4px;
}
.snize-search-results#snize_results a {
  border-radius: 4px;
}
.snize-search-results#snize_results a {
  border-radius: 4px;
}
.snize-main-panel-controls a {
  border-radius: 0 !important;
}
#snize_results.snize-mobile-design.snize-new-version #snize-search-results-grid-mode li.snize-product .snize-button {
  border-radius: 4px !important;
}
#snize_results.snize-mobile-design.snize-new-version #snize-search-results-list-mode li.snize-product .snize-button {
  border-radius: 4px !important;
}
.logo .logo__text-link {
  line-height: 0;
  padding: 7px 0px;
}
.snize-ac-results .snize-nothing-found .snize-popular-suggestions-view-all-products-text {
  border-radius: 4px !important;
}

span.snize-product-filters-title {
  color: var(--text-darken) !important;
  font-weight: bold !important;
}

div.snize-product-filters-buttons-container div.snize-product-filters-buttons button {
  border-radius: 4px !important;
}

div#snize_filters_block_header span.snize-product-filters-title {
  font-size: 20px !important;
}

div.snize-search-results-header {
  font-size: 14px !important;
}

.collection__badge {
  max-width: 100%;
  margin: 10px;
  display: inline-grid;
  grid-template-columns: minmax(0, 100%);
  gap: 5px;
  justify-items: start;
  transition: transform 0.2s ease;
}

.collection__badge__item {
  color: var(--COLOR-TAG-TEXT-SALE);
  background-color: var(--COLOR-TAG-SALE);
  border-radius: var(--radius-small);
  text-align: left;
  text-transform: var(--BUTTON-TEXT-CAPS);
  font-size: calc( 0.6875rem * var(--adjust-body));
  font-weight: var(--FONT-WEIGHT-BODY-MEDIUM);
  letter-spacing: var(--BUTTON-TEXT-CAPS);
  line-height: 1.2;
  transition: opacity 0.15s ease;
  padding: 9px 13px;
  height: auto;
}

.icon-section-heading {
  text-align: center;
  margin-bottom: calc(var(--gutter) / 2);
}

.featured-image__caption {
  font-size: calc(0.85rem * var(--adjust-body));
  color: #475569 !important;
}

.product-grid-item__title {
  font-size: 20px !important;
}

.product-grid-item__price {
  font-size: 18px !important;
}

.footer-logo-img {
  width: 100% !important;
  height: auto !important;
}

.featured-image__buttons .main-buttons__item {
  position: relative;
}

.header-section-arrow {
  position: absolute;
  top: -70px;
  right: -60px;
  width: 65px;
}

.testimonial__stars .icon-star--full {
  fill: #EEA670;
}

.testimonial__stars .rating__star .icon-star {
  stroke: #EEA670;
}

.mobile-nav--weight-bold a {
  font-weight: 700;
}

.product-grid-item__info .product__submit__add {
  margin-top: 7px;
}

.testimonials-section .section__heading {
  text-align: center !important;
}

.shopify-payment-button__button--branded {
  min-height: 0 !important;
  height: 42px;
  border-radius: 6px !important;
}

.additional-checkout-buttons .dynamic-checkout__content .shopify-cleanslate div[role=button],
.additional-checkout-buttons .dynamic-checkout__content .shopify-cleanslate form {
  height: 47px !important;
}

.cart__buttons .shopify-cleanslate .pGZsIynlCgQUe6S16lYw,
.cart__buttons .shopify-cleanslate .XLcXEW3RnM9fyU7k7fvC {
  height: 47px !important;
  margin-bottom: 0 !important;
}

.cart__buttons .shopify-cleanslate .XLcXEW3RnM9fyU7k7fvC:nth-child(2) {
  height: 54px !important;
}

.cart .cart__message--custom {
  padding: 12px var(--inner);
  border-radius: 6px !important;
}

.btn--secondary {
  border-color: #CCFBF1 !important;
}

.align--middle-split .newsletter-section__entry {
  text-align: center;
  padding: 0
}

.align--middle-split .newsletter-section__entry h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6rem;
  color: rgba(204,251,241,1);
}

.align--middle-split .newsletter-section__entry h2 {
  font-size: 30px;
  font-weight: 700;
}

.align--middle-split .newsletter-section__entry .text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7rem;
}

.align--middle-split .newsletter {
  max-width: 552px;
  margin: 3.1rem auto 0;
}

.newsletter-form .input-group__field {
  background: white;
  color: rgba(148,163,184,1);
}

.newsletter-form .input-group__field::placeholder {
  color: rgba(148,163,184,1);
}

.newsletter-form .input-group__btn {
  font-weight: 600;
  color: var(--COLOR-TAG-TEXT-FEATURED);
  background-color: var(--COLOR-TAG-FEATURED);
  transition-duration: 500ms;
}

.newsletter-form .input-group__btn:hover {
  color: rgba(20,184,166,1);
}

.newsletter-form .input-group__item--phone_number {
  text-align: left;
}

.section-padding.newsletter-section {
  padding-top: 120px;
  padding-bottom: 110px;
}

.btn.disabled {
  cursor: not-allowed;
}

.section__sub-heading {
  font-family: var(--FONT-STACK-SUBHEADING);
  font-weight: 600;
  font-size: calc(1.25rem * var(--FONT-ADJUST-SUBHEADING));
  line-height: 1.5rem;
  text-transform: var(--SUBHEADING-TEXT-CAPS);
  letter-spacing: var(--LETTER-SPACING-SUBHEADING);
  color: #94A3B8;
}

.section__heading {
  font-size: calc(3rem * var(--adjust-heading));
  line-height: 1.2;
}

.section-description {
  color: #475569
}

p a:not(.button) {
  text-decoration: none;
  box-shadow: 0 -3px 0 rgba(7,59,179,.1) inset;
  transition: all .6s ease 0s;
}

p a:not(.button):hover {
  text-decoration: none;
  box-shadow: 0 -5px 0 rgba(7,59,179,.1) inset;
}

@media only screen and (max-width: 767px) {
  .featured-image__scale > div {
    height: 100%;
  }

  .featured-image__scale .placeholder-svg-filled {
    object-fit: cover;
  }

  .icon-section-col h3 {
    font-size: 20px;
  }

  .img-logo {
    width: 65%;
  }

  .icon-section-col img {
    width: 40px;
  }

  .icon-section-col p {
    padding: 0;
    font-size: 13px;
  }

  .icons-heading {
    font-size: 15px;
  }

  .footer-block__logo-image {
    width: 150px !important;
  }

  .section__heading {
    font-size: calc(2.25rem * var(--adjust-heading));
  }
}

@media only screen and (max-width: 479px) {
  .header-section-arrow {
    top: -5px;
    right: 100px;
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 1023px) {
  .icon-section-row {
    padding: 20px;
    flex-wrap: wrap;
  }

  .icon-section-col {
    width: 50%;
    padding: 10px;
  }

  .footer-block__logo-image {
    width: 170px !important;
  }
}

@media only screen and (max-width: 1439px) {
  .section__heading {
    font-size: calc(2.5rem * var(--adjust-heading));
  }
}

@media only screen and (min-width: 1024px) {
  .snize-thumbnail img {
    height: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .snize-thumbnail img {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .align--middle-split .newsletter-section__content {
    text-align: center;
    display: block;
  }

  .align--middle-split .newsletter-section__entry h3, .align--middle-split .newsletter-section__entry .text p {
    font-size: 20px;
  }

  .align--middle-split .newsletter-section__entry h2 {
    font-size: 38px;
  }

  .newsletter {
    margin-top: 4.4rem;
  }

  .newsletter .input-group {
    justify-content: center;
  }

  .newsletter .input-group__item {
    max-width: unset;
    flex-basis: 100%;
  }

  .section-padding.newsletter-section {
    padding-top: 80px;
  }
}
