.nav--compress .menu__item--compress {
  display: flex;
  width: 100%;
  margin-left: 150px;
}

.nav--compress .search-form {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.nav--default .menu__item--desktop {
  width: 100%;
  margin-left: 150px;
}

.nav--default .menu__item--search {
  width: 50%;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1440px) {
  .nav--default .menu__item--search {
    width: 60%;
  }
}
